#deploy
target/classes/
target/examen-0.0.1/
target/generated-sources/
target/generated-test-sources/
target/maven-archiver/
target/maven-status/
target/surefire-reports/
target/test-classes/

.classpath
.project
.settings/


# IntelliJ
/out/

# IntelliJ IDEA
.idea/
*.iml

# Mac
.DS_Store
/target/
